
ion-grid.balance {
  margin-top: 15px;
  margin-left: 27px;
  margin-right: 27px;
  ion-row {
    cursor: pointer;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: var(--ion-color-items);
    border: 1px solid var(--ion-color-item-borders);
    ion-col {
      ion-avatar {
        max-width: 34.5px;
        max-height: 34.5px;
      }
      ion-label {
        max-width: 150px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      display: flex;
      align-items: center;
    }
    ion-col:last-child {
      display: flex;
      justify-content: flex-end;
    }
  }
  ion-row:hover {
    background: var(--ion-color-hover);
  }
}