
ion-grid.balance {
  ion-row {
    border-radius: 15px;
    ion-col {
      ion-avatar {
        max-width: 34.5px;
        max-height: 34.5px;
      }
      ion-label {
        max-width: 150px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      display: flex;
      align-items: center;
    }
    ion-col:last-child {
      display: flex;
      justify-content: flex-end;
    }
  }
  ion-row:hover {
    background: var(--ion-color-hover);
  }
}