
ion-grid.balance {
  ion-row {
    ion-col {
      ion-avatar {
        max-width: 34.5px;
        max-height: 34.5px;
      }
      ion-label {
        max-width: 150px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      display: flex;
      align-items: center;
    }
  }
}