<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Your Tokens
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Your Tokens</ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngIf="myTokens.length === 0" class="not-found-text-wrapper">
    Your node may be offline, please check and try again.
  </div>
  <ion-grid *ngIf="myTokens" class="balance">
    <ion-router-outlet></ion-router-outlet>
    <ion-row [routerLink]="['view-coins/'+token.tokenid]" *ngFor="let token of myTokens">
      <ion-col size="2">
        <ion-avatar>
          <img *ngIf="token.icon && token.icon !== '' " src="{{token.icon}}" alt="tokenIcon">
          <img *ngIf="token.icon && token.icon === '' " [src]="token.icon" alt="tokenIcon">
          <img *ngIf="token.tokenid === '0x00'" src="assets/minima-logo-box.svg" alt="tokenIcon">
        </ion-avatar>
      </ion-col>
      <ion-col>
        <ion-label>
          <h6>
            {{ token.token }}
          </h6>
          <p>
            {{ token?.sendable }}
          </p>
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-label id="totalCoins">
          {{ token?.totalCoins }}
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>