div.wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  span {
    padding-left: 10px;
  }
  ion-button {
    --background-hover: none;
    --color-hover: var(--ion-color-secondary);
    --opacity: 0.8;
    ion-icon {
      font-size: 1.5em;
    }
  }
  ion-button:hover {
    ion-icon {
      color: var(--ion-color-secondary);
    }
  }
}
div.not-found-text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: manrope-light;
  padding: 15px;
}
ion-card {
  margin-left: 35px;
  margin-right: 35px;
}
p {
  span#coinAmount {
    font-family: manrope-semibold;
    color: var(--ion-color-primary);
  }
}
ion-card {
  padding: 5px;
  box-shadow: none;
  background-color: var(--ion-color-items);
  border: 1px solid var(--ion-color-item-borders);
  border-radius: 15px;
  ion-card-header#tools {
    display: flex;
    justify-content: flex-end;
    padding-right: 17px;
    padding-bottom: 5px;
    ion-icon {
      cursor: pointer;
      font-size: 1.3em;
    }
  }
  ion-card-content {
    ion-grid {
      margin-left: 12px;
      margin-right: 13px;

      ion-row {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 9px;
        padding-top: 9px;
        margin-bottom: 15px;
        border-radius: 15px;
        background-color: var(--ion-toolbar-background);
        border: 1px solid var(--ion-color-item-borders);
        ion-col#checkbox {
          display: flex;
          justify-content: flex-end;
        }
        ion-col {
          ion-label {
            h2 {
              color: var(--ion-color-primary);
            }
            color: var(--ion-color-text);
            font-variant-numeric: tabular-nums;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          ion-avatar {
            display: flex;
            align-items: center;
            img {
              height: 34.5px;
              width: 34.5px;
            }
          }
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

div.token-details {
  h2 {
    margin-right: 10px;
  }
}
div.functions {
  float: right;
  display: flex;
  flex-direction: column;
  ion-button {
    color: var(--ion-color-text);
    ion-icon {
      justify-self: flex-start;
      margin-right: 10px;
      color: var(--ion-color-text);
    }
    border: 1px solid var(--ion-color-ruler);
    text-transform: none;
  }
  ion-button:hover {
    color: var(--ion-color-primary);
    ion-icon {
      color: var(--ion-color-primary);
    }
  }
}