<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="wrap">
        <ion-button class="ion-no-padding ion-no-margin" routerLink="../../../tab2" fill="clear">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
        <span>
          Coins
        </span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!found" class="not-found-text-wrapper">
    This token does not exist in your vallet.    
  </div>
  <ion-card *ngIf="found">
    <ion-card-header>
      <div class="functions">
        <ion-button
        #aggregateBtn
        [disabled]="this.aggregateForm.invalid" 
        fill="clear" 
        type="submit" 
        (click)="displayAggregateModal(aggregateForm.value, token[0]?.tokenid)">
          <!-- <ion-icon name="color-filter-outline"></ion-icon> -->
          Aggregate
        </ion-button>
        <ion-button 
        [disabled]="this.aggregateForm.invalid" 
        fill="clear"
        (click)="displaySendModal(aggregateForm.value, token[0]?.tokenid)">
          <!-- <ion-icon name="person-circle-outline"></ion-icon> -->
          Send
        </ion-button>
      </div>
      <ion-avatar>
        <img *ngIf="token[0]?.icon && token[0]?.icon !== '' " src="{{token[0]?.icon}}" alt="tokenIcon">
        <img *ngIf="token[0]?.icon && token[0]?.icon === '' " [src]="token[0]?.icon" alt="tokenIcon">
        <img *ngIf="token[0]?.tokenid === '0x00'" src="assets/minima-logo-box.svg" alt="tokenIcon">
      </ion-avatar>
      <div class="token-details">
        <h2>{{ token[0]?.token }}</h2>
        <p *ngIf="coins?.length > 0" class="ion-no-padding ion-no-margin">
          <span id="coinAmount">{{coins?.length}}</span> coin<span *ngIf="coins?.length > 1">s</span> available</p>
        <p *ngIf="coins?.length === 0">
          No coins available
        </p>    
      </div>
    </ion-card-header>
    <ion-card-header id="tools" class="ion-no-padding">
      <ion-icon name="settings"></ion-icon>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <div *ngIf="!isCoinsFound" class="not-found-text-wrapper">
        Coins not found for token, they may be in the mempool awaiting confirmation, please wait.
      </div>
      <form [formGroup]="aggregateForm" id="aggregateForm">
        <!-- {{ aggregateForm.value | json }} -->
        <ion-grid #coinsGrid *ngIf="isCoinsFound">
          <ion-row *ngFor="let coin of coins">
            <ion-col sizeXs="3" sizeSm="2" sizeMd="1">
              <ion-avatar><img src="assets/coin.svg" alt="coinImage"></ion-avatar>
            </ion-col>
            <ion-col>
              <ion-label>
                <h2>
                  {{ 
                    coin.coin.address.substring(0, 7) + '...' +
                    coin.coin.address.substring(coin.coin.address.length-2, coin.coin.address.length)
                  }}
                </h2>
                <p>
                  {{ coin.coin.amount }}
                </p>
              </ion-label>
            </ion-col>
            <ion-col id="checkbox">
              <ion-checkbox
              [value]="{coinid: coin.coin.coinid, amount: coin.coin.amount}" 
              (ionChange)="onCheckboxChange($event)"></ion-checkbox>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
