/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/** Global CSS */
body, html {
  font-family: manrope-regular;
}
ion-header {
  color: var(--ion-color-text);
  border-bottom: 1px solid var(--ion-color-ruler);
  padding-left: 12px;
}
ion-footer {
  border-top: 1px solid var(--ion-color-ruler);
}
ion-tab-bar {
  padding: 15px;
  border-top: 1px solid var(--ion-color-ruler);
  ion-tab-button {
    --color-focused: var(--ion-color-ruler);
    ion-icon {
      font-size: 28px;
    }
    ion-label {
      font-family: manrope-semibold;
      font-size: 12px;
    }
  }
}